.imgBox{
  width: 300px;
  height: 300px;
  border: 1px solid red;
  margin-bottom: 30px;
}


/* [1]만일 사진의 크기가 부모요소 크기보다 커지면 사이즈 설정 */
.imgBox>img{
width: 100%;
height: 100%;
}

/* 기본값 영역채움:비율 무시 */
.img1{
  object-fit: fill;
}


/* contain:전체영역이 보이도록 비율유지,일부 영역 여백존재할수있음 */


.img2{
  object-fit: contain;
}

.img3{
  object-fit: cover;
}

/* 영역채우면서 비율 유지일부 짤림이 존재할수있음 */

.img4{
  object-fit: none;
}

/* 이미지 사이즈 조절없이 그대로 출력,일부 짤림/여백 존재할수없음 */



/* [3] object-position:짤린 이미지 위치 조정 */
.img5{
  object-fit: cover;
  object-position: left ;
}

.img6{
  object-fit: contain;
  object-position:left;
}