/* [1]만약의 width,height 생략시 상위 요소 크기를 따라진다. 100% */

.box {
  border: 1px solid red;
  padding: 10px;
  margin-bottom: 100px;
}

.size1 {
  width: 200px;
  height: 300px;
}

/* [2]최소 사이즈 */
.size2 {
  min-width: 600px;
  /* 화면이 600px 보다 크면 100% 작으면 600px 고정 */
}

.size3 {
  width: 200px;
  min-height: 100px;
  /* 내용의 높이가 100px보다 크면 100% 작으면 100px 고정 */
}

/* [3]최대 사이즈 */

.size4 {
  max-width: 600px;
}

.size5 {
  max-height: 100px;
}


/* [4]만약에 하위 요소의 컨텐츠/내용이 부모 요소의 크기가 크면/넘치면 */
.size6 {
  width: 200px;
  height: 100px;
  overflow: visible;
  /*visible:기본값*/
}

.size7 {
  width: 200px;
  height: 100px;
  overflow: hidden;
  /*넘치면 내용가림*/
}

.size8 {
  width: 200px;
  height: 100px;
  overflow: scroll;
}

.size9 {
  width: 200px;
  height: 100px;
  overflow: auto;
}

.size10 {
  width: 200px;
  height: 100px;
  overflow-x: scroll; overflow-y: hidden;
}