#wrap {
  margin: 0 auto;
  width: 960px;
  border-radius: 20px;
  box-shadow: 0 10px 10px #eeeeee;
  padding: 50px;
}

#header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #eeeeee;
  padding: 50px 0px;
  margin-bottom: 50px;
}

#header>input,
#header>select {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #eeeeee;
}

#header>button {
  background-color: blue;
  border: none;
  color: white;
  padding: 10px 20px;
}



/* 메인/테이블 영역 */

#main>table th {
  background-color: #eeeeee;
  padding: 10px;
  border-bottom: 1px solid gray;
}

#main {
  width: 100%;

}

#main table {
  width: 100%;
  border-collapse: collapse;
  /*이중 테두리 하나로 병합*/
}

#main>table td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid gray;
}

#main button {
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
}

#main>table .button1 {
  background-color: pink;
  color: red;
  font-weight: bold;

}

#main>table .button2 {
  background-color: skyblue;
  color: blue;
  font-weight: bold;
}

#main>table img{
  width: 100px;
  object-fit: cover;
}