* {
  padding: 0px;
  margin: 0px;
  font-size: 12px;
}

.topmenu {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #dbdbdb;
  padding: 10px;
}

.topmenu>ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
}

.topmenu>ul>span {
  padding: 0px 15px;
}

.topmenu>ul>li {
  padding: 10px;
  font-size: 10px;
  text-align: center;
  align-items: center;
}

.topmenu>ul>li img {
  width: 20px;
  margin: 2px 20px 0px 0px;
}

.bottommenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
}

.logo>img {
  width: 100px;
}

.bar {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.bar>li {
  position: relative;
}

.bar>li>a {
  text-decoration: none;
  font-size: 10px;
  color: black;
  padding: 10px;
  text-align: center;
  display: block;
}

.bar .submenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100px;
  background-color: white;
  border: 1px solid #eee;
  text-align: center;
  display: none;
  list-style: none;
}

.bar .submenu>li {
  padding: 10px;
}

.bar .submenu>li:hover {
  background-color: #f7f7f7;
}

.bar>li:hover .submenu {
  display: block;
}

.search {
  display: flex;
  justify-content: end;
}

.search>input {
  border: none;
  border-bottom: 1px solid black;
  background-color: #ffffff00;
  outline: none;
}

.search>img {
  width: 15px;
}

#main-img {
  width: 100%
}

.goods1 {
  width: 500px;
  margin: 30px 0px;
}

.color-review {
  display: flex;
  justify-content: space-between;
  margin: 5px 0px;
}

.color>span {
  border: 1px solid gray;
  width: 10px;
  height: 10px;
  display: inline-block;
}

.color-review .color1 {
  background-color: black;
}

.color-review .color2 {
  background-color: white;
}

.color-review .review {
  font-size: 12px;
  color: gray;
}

.size {
  color: gray;
  font-size: 8px;
}

.price {
  display: flex;
  justify-content: space-between;
}

.before {
  color: gray;
  text-decoration: line-through;
}

.discount {
  color: red;
  font-weight: bold;
}

.content {
  width: 1600px;
  margin: 0 auto;
}

.goods {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.goods .goods1 {
  width: 380px;
  margin: 30px 0px;
  justify-content: space-between;
}

.imgs {
  width: 100%;
}

.footer {
  margin: 10px;
  top: -10px;
}

.footertop {
  background-color: #f7f7f7;
}

.footertop .footercontent {
  width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 50px 100px;
}

.footerbottom {
  color: gray;
  display: flex;
  justify-content: center;
}