h5{color: orange;}

/* 1. 전체 선택자  */
*{font-size: 20px;} /*글꼴 크기*/

/* 2. 마크업 선택자 */
h6{font-size: 15px;}

/* 3. 클래스 선택자:동일한 마크업들 간의 식별자 */
.개그맨{font-size: 10px;}

/* 아이디 선택자:동일한 마크업들 간의 유일 식별자 */
#주민등록번호{font-size: 5px;}

/* 5.다중선택자 쉼표 구분자 */
h4,h5{font-family: 궁서;}

/* 6.자식선택자:상위선택자>하위선택자 */
div>h3{font-family: 맑은고딕;}

/* 7.자손 선택자:상위선택자 하위선택자 */
/* 가장 아래있는 코드가 우선순위이다. */
div h4{ font-family: 굴림;}

