#head {
  font-family: 맑은고딕;
  font-style: italic;
  font-weight: bold;
  font-size: 50px;
}

.fir {
  color: blue;
  font-family: 굴림;
  font-weight: bold;
  word-spacing: 10px;
  letter-spacing: 100;
  font-size: larger;
  font-weight: bold;
  line-height: 200%;

}

.sec {
  color: red;
  text-decoration: line-through overline underline;
  text-align: center;

}

#mind {
  font-weight: bold;
  text-shadow: 0px 0px 2px red;
  font-size: larger;
}



.option{
    background-color:#eff4f9;
    color:#202124 ;
}
#submit{
    background-color:#1a73e8;
    color:#ffffff ;
    text-align: center;
    padding: 10px 20px;
    border: 1px solid #1a73e8;
}
textarea{
    border: 1px solid #eff4f9;
    padding: 10px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    background-color: #eff4f9;
}