/* 공통 css 이면서 관례적인 부분 */

* {
  box-sizing: content-box;
  font-family: 굴림 나눔고딕;
  font-size: 12px;
  /*12px~15px*/
  padding: 0px;
  margin: 0px;
  /*관례적으로 제거*/
}


/* a마크업 기본 css 제거 */
a {
  text-decoration: none;
  /*밑줄 제거*/
  color: black;
}


/* 목록 글머리 제거 */
li {
  list-style-type: none;
}

/* 작업용 확인 */
/* *{
  border: 1px solid red;
  padding: 2px;
} */

/* [1]헤더 */
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1280px;
  margin: 0 auto;
}

#header .top-menu {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0px;
}

#header .top-menu li a {
  margin-left: 15px;
  margin: 0 auto;
}

#header .main-menu {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0px;

}

#header .main-menu li a {
  margin-left: 30px;
  font-size: 22px;
  font-weight: bold;
}




/* [2]대표 이미지 */
#main-img>img {
  width: 100%;
}


/* [3]본문 */

#main {
  display: flex;
  justify-content: space-between;
  width: 1280px;
  margin: 20px auto;
}

#sidebar {
  width: 220px;
}

#sidebar>h3 {
  background-color: gray;
  color: white;
  padding: 10px;
  font-size: 20px;
}

#sidebar>ol>li {
  padding: 10px;
  border-bottom: 1px solid #eeeeee;
}

#content {
  width: 1030px;
}

#content>h3 {
  padding-bottom: 10px;
  font-size: 20px;
  border-bottom: 1px solid #eeeeee;

}

#content>p {
  margin: 10px auto;
}

#content>img {
  display: block;
  margin: 0 auto;
}


/* [4]푸터 */

#footer {
  background-color: #2c2a29;
  color: white;
  padding: 15px 0px;
}

#footer-inner {
  display: flex;
  justify-content: space-between;
  width: 1280px;
  margin: 0 auto;
}