*{
  padding: 0px;
  margin: 0px;
}

li{
  list-style-type: none;

}

#header{
  background-color: white;
}
#header>ul{
  display: flex;
  background-color: bisque;
  justify-content: center;
}

.menu{
  padding: 10px 20px;
  position: relative;
}

.submenu{
  position: absolute;
  top: 40px;
  left: 8px;
  padding: 5px;
  background-color: bisque;
  display: none;
}

.menu:hover .submenu{
  display: block;
}

#header2{
  background-color: darkgoldenrod;

}
#header2>ul{
  display: flex;
  justify-content: center;
  position: relative;

}

#header2>ul>li{
  padding: 10px;
}

.submenu2{
  position: absolute;
  width: 100%;
  top: 30px;
  background-color: darkgoldenrod;
  display: none;
}

#header2>ul:hover .submenu2{
  display: block;
}