.wrap {
  background-color: gray;
  width: 700px;
  height: 500px;
  display: flex;

}

a {
  text-decoration: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 10px;
  text-align: center;
  align-items: center;
}

li {
  display: flex;
  position: relative;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.top {
  color: blue;
  background-color: skyblue;
  position: absolute;
  top: 375px;
  left: 650px;
  display: none;
}

.naver {
  color: blue;
  background-color: greenyellow;
  position: absolute;

  top: 400px;
  left: 650px;
  display: none;
}

.help {
  color: blue;
  background-color: darkcyan;
  position: absolute;
  left: 650px;
  top: 425px;
  display: none;
}

.chat {
  color: blue;
  background-color: darkorchid;
  position: absolute;
  top: 450px;
  left: 650px;
  display: none;
}

.plus {
  color: white;
  background-color: black;
  position: absolute;
  left: 650px;
  top: 475px;
  width:50px;
}

.plus:hover .top{
  display: block;
}