.wrap {
  background-color: wheat;
  width: 700px;
  height: 600px;
  position: relative;
}

li.me {
  list-style: none;
  position: absolute;
  right: 50px;
  bottom: 20px;
  width: 60px;
  height: 60px;
}

a {
  text-decoration: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 15px;
  font-weight: bold;
  display: none; 
  justify-content: center;
  align-items: center;
  text-align: center;

  position: absolute;
  left: 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.plus {
  color: white;
  background-color: #222;
  font-size: 30px;
  bottom: 0;
  display: flex;
}

.chat { background-color: #EBDCF5; color: blue; bottom: 75px; 
}
.help { background-color: #F9E2E2; color: blue; bottom: 145px; }
.naver { background-color: #E2F5E2; color: blue; bottom: 215px; }
.top { background-color: #E2EBF5; color: blue; bottom: 285px; }

.me:hover a {
  display: flex; 
}