.box {
  border: 1px solid red;
  width: 100px;
  padding: 10px;
}

.flexbox1 {
  display: flex;
  /*하위 요소에 대해*/
  border: 1px solid blue;
  width: 250px;
  /*기본값: 하위 요소가 넘치면 자동으로 하위 요소들 크기조정*/
  flex-wrap: nowrap;
}

.flexbox2 {
  border: 1px solid blue;
  width: 250px;
  display: flex;
  flex-wrap: wrap;
}

.flexbox3 {
  border: 1px solid blue;
  display: flex;
  flex-direction: row;
  /*기본값*/
}

.flexbox4 {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  /*세로 배치*/
}

.flexbox5 {
  border: 1px solid blue;
  display: flex;
  justify-content: flex-start;
}

.flexbox6 {
  border: 1px solid blue;
  display: flex;
  justify-content: flex-end;
}

.flexbox7 {
  border: 1px solid blue;
  display: flex;
  justify-content: center;
}

.flexbox8 {
  border: 1px solid blue;
  display: flex;
  justify-content: space-between;
  /*양끝에 여백x 여백 균등 가로정렬*/
}

.flexbox9 {
  border: 1px solid blue;
  display: flex;
  justify-content: space-around;
  /*양끝에 사이 여백을 50% 여백 균등 정렬*/
}

.flexbox10 {
  border: 1px solid blue;
  display: flex;
  justify-content: space-evenly;
  /*양끝 여백과 사이 여백을 자동으로 균등하게 가로 정렬*/
}