
.face{
  margin: -44px 0 -4px;
  width: 240px;
}

.login_form{
  margin: 100px 10px;
}


.new{
  background-color: aqua;
  color: aqua;
}



.or{
  color: green;
  
}

.forget{
  color: blue;
}

or.

