.main{

border: 1px solid white;
padding: 10px ;
width: 300px;
background-color: pink;
margin: 0 auto;
text-align: center;
}

.title{
  border: 2px solid white;
  border-radius: 20px;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  margin: 25px;
}

.이미지>img{
  border-radius: 200px;
  width: 200px;
  height: 200px;
} 

.box{
  margin: 20px 0px;
}
.box>div{
  background-color: skyblue;
  padding: 20px 5px;
  margin: 15px 0px;
  border-radius: 20px;

}

a{  
  color:white; text-decoration: none;
}