/* 작업용 */

/* *{
  border: 1px solid red;
  padding: 20px;
} */

/* 로그인 구역 */
.로그인구역{
  width: 350px; 
  /*구역 가로 사이즈*/
  /* height: ;   일반적으로 높이는 관례적으로 잘 안씀 */
  text-align: center;
  margin:0 auto;
  box-shadow:2px 3px 25px rgba(255, 0, 0, 0.683);
  padding:30px;
}

/* 3.입력상자 */
.입력구역>input{
  padding: 5px;
  border-radius: 5px;
  border: solid 3px #eeeeee;
  margin-bottom: 20px;
}

.입력구역>button{    /*버튼 사이즈는 여백 또는 크기  조정*/
  padding: 8px 20px;
  background-color: blue;
  color:white;
  border:none;
  border-radius: 10px;
}

.서브제목>a{  
  text-decoration: none;
}

